server {
    listen 80;
    listen [::]:80;

    server_name {{ hostName }};
    server_name www.{{ hostName }};

    root /var/www/{{hostName}}/html;
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
}
