server {
    listen 80;
    server_name hostName;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name hostName;

    ssl_certificate /etc/letsencrypt/{{acme_domain}}/certs/{{acme_domain}}-fullchain.pem; # Adjust path as necessary
    ssl_certificate_key /etc/letsencrypt/{{acme_domain}}/keys/{{acme_domain}}.key; # Adjust path as necessary


    root /var/www/{{hostName}}/html;
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
}